{{>header}}
  <h1 style="text-align:center">Bienvenido {{nombre}} a la interfaz de {{rol}}</h1>
  <h3>Eres docente de los siguientes cursos</h3>
  {{{listarCursosDocente listaC listaU cursosAsignados}}}
{{>footer}}
