{{>header}}
<div class="container">
    <div class="row">
        <div class="col-12">

            <h2 style="text-align:center">Bienvenido a la pagina de educación continua!</h2>
        </div>

        <div class="col-6">
            <img src="img/fondo.jpg" class="img-fluid" width="100%">
        </div>

        <div class="col-6">

        <h2>Listado de cursos</h2>
             {{{listarCursos2 listado}}}
        </div>
    </div>

</div>



   {{!--  <br>
    <br> --}}


{{>footer}}
