{{>header}}
<h1 style="text-align:center">INGRESO A LA PLATAFORMA</h1>
<form action="/ingresar" method="post">
  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="nombre">Nombre</label>
      <input type="text" class="form-control" id="nombre" placeholder="Nombre de usuario" name="nombre" required   >
    </div>
    <div class="form-group col-md-3">
      <label for="password">Clave</label>
      <input type="password" class="form-control" id="password" placeholder="Clave" name="password" required>
    </div>
  </div>
  <div class="col-md-6">
    <button class="btn btn-dark">Iniciar sesión</button>
    <button type="button" name="Volver al inicio" onclick="location.href='./'"  class="btn btn-dark">Volver al inicio</button>
  </div>
</form>
  <br>
  <h2>¿No tienes usuario?... Crea uno <a href="/registro"><b>aqui</b></a></h2>
<br>
{{>footer}}
